-# .year-main
-#   .year-main-conts
-#     .main-conts__box
-#       .conts-layout
-#         .conts-layout__name
-#           収入
-#         .conts-layout__lists
-#           = form_for([@month, @income],url: year_month_income_index_path) do |f|
-#             .year-header__input
-#               = f.text_field :item
-#               = f.submit "更新する"
-#           %ol{class:"lay_lists"}
-#             %li xxx
-#             %li yyy
-#             %li zzz
-#       .conts-layout
-#         .conts-layout__name
-#           資産
-#         .conts-layout__lists
-#           .lay-form
-#             <input type="number" class="s_num" placeholder="番号"> <input type "text" placeholder="項目名を入力" class="s_name">
-#           %ol{class:"lay_lists"}
-#             %li xxx
-#             %li yyy
-#             %li zzz
-#     .main-conts__box
-#       .conts-layout
-#         .conts-layout__name
-#           支出
-#         .conts-layout__lists
-#           .lay-form
-#             <input type="number" class="s_num" placeholder="番号"> <input type "text" placeholder="項目名を入力" class="s_name">
-#           %ol{class:"lay_lists"}
-#             %li xxx
-#             %li yyy
-#             %li zzz
-#       .conts-layout
-#         .conts-layout__name
-#           負債
-#         .conts-layout__lists
-#           .lay-form
-#             <input type="number" class="s_num" placeholder="番号"> <input type "text" placeholder="項目名を入力" class="s_name">
-#           %ol{class:"lay_lists"}
-#             %li xxx
-#             %li yyy
-#             %li zzz