= render 'years/header'

.main-conts
  .left-conts
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          収入
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 給料
            %td 万円
          %tr
            %td 配当
            %td 万円
          %tr
            %td 不動産
            %td 万円
      .left-conts__list__r-side
      
        .total
          総収入: 万円
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          支出
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 税金
            %td 万円
          %tr
            %td 住宅ローン
            %td 万円
          %tr
            %td 自動車ローン
            %td 万円
            
      .left-conts__list__r-side
        
        .total
          総収入: 万円
          
  
  .right-conts
    .right-conts__list
      .right-conts__list__title
        .right-conts__list__title__name
          資産
      .right-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 貯蓄
            %td 万円
          %tr
            %td 株
            %td 万円
          %tr
            %td 不動産
            %td 万円
      .right-conts__list__bottom
        .total
          合計:万円
    .right-conts__list
      .right-conts__list__title
        .right-conts__list__title__name
          負債
      .right-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 住宅ローン残高
            %td 万円
          %tr
            %td 銀行ローン残高
            %td 万円
          %tr
            %td 奨学金
            %td 万円
      .right-conts__list__bottom
        .total
          合計:万円


.sub-conts
  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2020年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
    .sub-conts__list__right
      .total
        合計CF：万円

  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2019年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
    .sub-conts__list__right
      .total
        合計CF：万円

  .sub-conts__list
    .sub-conts__list__title
      .sub-conts__list__title__year
        2018年
    .sub-conts__list__items
      .index
        .month
          月:
        .cf
          CF:
    .sub-conts__list__right
      .total
        合計CF：万円