= render 'share/header'

.main-root 
  .main-root__visual
    %p はじめよう、資産形成
  .main-root__intro
    .main-root__intro__subtitle
      ログインして今すぐはじめよう！
    %ul.main-root__intro__lists
      %li.main-root__intro__lists__list
        .main-root__intro__lists__list__image
          .main-root__intro__lists__list__image--pict
            = image_tag 'pict/pict-memo.jpeg'
        .main-root__intro__lists__list__title
          日々の資産推移を記録
        .main-root__intro__lists__list__text
      %li.main-root__intro__lists__list
        .main-root__intro__lists__list__image
          .main-root__intro__lists__list__image--pict
            = image_tag 'pict/pict-asset.png'
        .main-root__intro__lists__list__title
          収支をまとめて表示
        .main-root__intro__lists__list__text
      %li.main-root__intro__lists__list
        .main-root__intro__lists__list__image
          .main-root__intro__lists__list__image--pict
            = image_tag 'pict/pict-graph2.jpg'
        .main-root__intro__lists__list__title
          グラフを表示
        .main-root__intro__lists__list__text
