.main-chart {
  width: 100vw;
  height: 100vh;
  padding: 10%;
  background-color: $main_conts;
  position: relative;
  .chart-title {
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 25px;
  }
  .chart-box {
    width: 100%;
    height: auto;
    background-color: $main_block;
    padding: 3%;
  }
}
