* {
  box-sizing: border-box;
}

.main-conts {
  width: 100vw;
  height: 40vh;
  display: flex;
  .left-conts {
    background-color: $main_conts;
    width: 50vw;
    height: 100%;
    border: solid 1px ;
    border-radius: 10px;
    padding: 5px 5px;
    &__list {
      width: 100%;
      height: 50%;
      display: flex;
      &__title {
        width: 80px;
        &__name {
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          padding: 1px 2px;
          border: solid 1px ;
          border-radius: 10px;
        }
        &__help {
          font-size: 20px;
          margin-left: 55px;
        }
      }
      &__items {
        width: calc(55% - 54px);
        border: solid 1px ;
        border-radius: 10px;
        padding: 10px;
        margin: 3px 10px;
        overflow-y: scroll;
         .table-items {
           width: 250px;
           margin: 5px 20px;
           .item {
             width: 110px;
           }
           .cf-text {
             width: 150px;
           }
         }
      }
      &__items:hover {
        border: solid 2px;
      }
      &__r-side {
        width: calc(45% - 40px);
        position: relative;
        border: solid 1px ;
        border-radius: 10px;
        padding: 3px;
        margin: 3px;
        overflow-y: scroll;
        .when {
          display: flex;
          font-size: 20px;
          border: solid 1px ;
          border-radius: 10px;
          padding: 1px 2px;
          margin-bottom: 10px;
          width: 130px;
          justify-content: center;
        }
        .edit {
          &__btn {
            display: flex;
            margin: 3px 0;
            font-size: 20px;
            .fa-cog {
              color: grey;
              margin: 0 5px;
            }
            .fa-cog:hover {
              color: black;
              margin: 0 5px;
            }
            .fa-trash-alt {
              color: grey;
              margin-left: 10px;
            }
            .fa-trash-alt:hover {
              color: black;
              margin-left: 10px;
            }
          }
        }
        .total {
          position: absolute;
          bottom: 0;
          font-size: 20px;
          right: 0px;
        }
      }
      &__r-side:hover {
        border: solid 2px;
      }
    }
  }
  .left-conts:hover {
    border: solid 2px;
  }

  .right-conts {
    background-color: $main_conts;
    width: 50vw;
    border: solid 1px ;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    &__list {
      width: 49%;
      margin: 3px;
      padding: 3px;
      border: solid 1px ;
      border-radius: 10px;
      position: relative;
      &__title {
        display: flex;
        &__name {
          width: 100px;
          font-size: 30px;
          line-height: 30px;
          text-align: center;
          padding: 1px 2px;
          border: solid 1px ;
          border-radius: 10px;
        }
        &__help {
          font-size: 20px;
          margin-left: 5px;
        }
      }
      &__items {
        padding: 10px 20px;
        overflow-y: scroll;
        .table-items {
          width: 300px;
          .item {
            width: 115px;
          }
        }
      }
      &__bottom {
        position: absolute;
        bottom: 0;
        font-size: 20px;
      }
    }
    &__list:hover {
      border: solid 2px;
    }
  }
  .right-conts:hover {
    border: solid 2px ;
  }
}

.sub-conts {
  width: 100vw;
  height: 45vh;
  background-color: $footer;
  overflow-y: scroll;
  &__list {
    width: 100%;
    border: solid 1px ;
    border-radius: 10px;
    padding: 3px 3px;
    display: flex;
    &__title {
      width: 100px;
      &__help {
        font-size: 20px;
        margin-left: 40px;
      }
      &__set {
        display:flex;
        .fa-cog {
          color: grey;
        }
        .fa-cog:hover {
          color: black;
        }
        .fa-chart-line {
          color: grey;
          margin-left: 5px;
        }
        .fa-chart-line:hover {
          color: black;
          margin-left: 5px;
        }
        .fa-trash-alt {
          color: grey;
          margin-left: 5px;
        }
        .fa-trash-alt:hover {
          color: black;
          margin-left: 5px;
        }
      }
    }
    &__items {
      width: calc(100% - 250px);
      display: flex;
      .index {
        padding: 3px 3px;
      }
      .m-area {
        text-decoration: none;
        color: black;
        .result {
          border: solid 1px ;
          border-radius: 10px;
          padding: 3px 3px;
        }
        .result:hover {
          color: white;
          background-color: #807e7e;
          border: solid 1px ;
          border-radius: 10px;
          padding: 3px 3px;
        }
      }
    }
    &__right {
      width: 150px;
      position: relative;
      .total {
        position: absolute;
        bottom: 0;
      }
    }
  }
  &__list:hover {
    border: solid 2px ;
  }
}