.year-header {
  width: 100vw;
  height: 15vh;
  background-color: $header;
  // display: flex;
  // justify-content: space-between;
  &__left {
    margin: 10px 10px 0;
    &__logo {
      font-size: 35px;
    }
    &__input {
      font-size: 25px;
      .y-num {
        width: 90px;
      }
      .m-num {
        width: 50px;
      }
    }
  }
}

.year-main {
  width: 100vw;
  height: 85vh;
  background-color: $main_conts;
  display: flex;
  .year-main-conts {
    width: 100vw;
    height: 100%;
    .main-conts__box {
      width: 100%;
      height: 50%;
      display: flex;
      .conts-layout {
        width: 50%;
        border: solid 1px ;
        border-radius: 10px;
        margin: 10px;
        padding: 3px;
        display: flex;
        background-color: $main_block;
        &__name {
          font-size: 30px;
          line-height: 30px;
          width: 90px;
          height: 36px;
          margin: 10px 20px 10px 10px;
          border: solid 1px ;
          border-radius: 10px;
          padding: 3px;
          text-align: center;
        }
        &__lists {
          margin: 20px;
          &__input {
            display: flex;
            .s_name {
              width: 150px;
            }
            .plus {
              margin: 4px;
            }
            .fa-edit {
              font-size: 20px;
              color: grey;
              margin: 4px 2px 0;
            }
          }
          
          
          // month-showで使用
          .lay_lists {
            margin: 10px 20px;
            li {
              font-size: 20px;
              margin-bottom: 5px;
              .fa-ban {
                font-size: 20px;
                color: red;
              }
            }
          }
          // asset-indexで使用
          .lay-input {
            font-size: 20px;
            display: flex;
              .ld-icon {
                color: red;
                margin: 3px 0 0 3px;
              }
            
          }
        }
        
      }
    }
  }
}