.year-header {
  width: 100vw;
  height: 70px;
  background-color: #dfd7d7;
  display: flex;
  justify-content: space-between;
  position: relative;
  &__input {
    margin: 10px;
    font-size: 25px;
    .y-num {
      width: 90px;
    }
    .m-num {
      width: 50px;
    }
  }
  &__back {
    margin: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.year-main {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #eceaea;
  display: flex;
  // .year-side-bar {
  //   width: 350px;
  //   background-color: #ffffff;
  //   .side_input {
  //     margin: 10px 0;
  //     li {
  //       margin-bottom: 10px;
  //       font-size: 18px;
  //     }
  //     .s_num {
  //       width: 40px;
  //     }
  //     .s_name {
  //       width: 150px;
  //     }
  //   }
  // }
  .year-main-conts {
    width: 100vw;
    height: 100%;
    .main-conts__box {
      width: 100%;
      height: 50%;
      display: flex;
      .conts-layout {
        width: 50%;
        border: solid 1px ;
        border-radius: 10px;
        margin: 10px;
        padding: 3px;
        display: flex;
        &__name {
          font-size: 30px;
          line-height: 30px;
          width: 90px;
          height: 36px;
          margin: 10px 20px 10px 10px;
          border: solid 1px ;
          border-radius: 10px;
          padding: 3px;
          text-align: center;
        }
        .lay-form {
          margin: 20px;
          .s_name {
            width: 150px;
          }
        }
        .lay_lists {
          margin: 10px 20px;
          li {
            font-size: 25px;
            margin-bottom: 5px;
            .fa-ban {
              font-size: 20px;
              color: red;
            }
          }
        }
      }
    }
  }
}