.year-header {
  width: 100vw;
  height: 15vh;
  background-color: $header;
  &__left {
    margin: 10px 10px 0;
    &__logo {
      font-size: 20px;
    }
    &__input {
      font-size: 20px;
      .y-num {
        width: 90px;
      }
      .m-num {
        width: 50px;
      }
    }
  }
}

.year-main {
  width: 100vw;
  height: 85vh;
  background-color: $main_conts;
  .year-main-conts {
    width: 100vw;
    height: 100%;
    .main-conts__box {//４等分
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      .conts-layout {
        width: 95%;
        height: 50%;
        border: solid 1px ;
        border-radius: 10px;
        margin: 5px 10px;
        padding: 3px;
        display: flex;
        background-color: $main_block;
        position: relative;
        overflow-y: scroll;
        &__name {
          position: absolute;
          top: 5px;
          left: 10px;
          font-size: 20px;
          line-height: 20px;
          width: 70px;
          height: 28px;
          border: solid 1px ;
          border-radius: 10px;
          padding: 3px;
          text-align: center;
        }
        &__lists {//conts-layout__lists
          position: absolute;
          top: 5px;
          left: 100px;
          &__input {
            display: flex;
            .s_name {
              width: 150px;
            }
            .plus {
              margin: 4px;
            }
            .fa-edit {
              font-size: 20px;
              color: grey;
              margin: 4px 2px 0;
            }
          }
        }
        // month-showで使用
        .lay_lists {
          margin: 5px 20px;
          li {
            font-size: 15px;
            margin-bottom: 2px;
            .fa-ban {
              font-size: 15px;
              color: red;
            }
          }
        }
        // asset-indexで使用
        .table-lay-items {
          font-size: 17px;
          position: relative;
          top: 50px;
          left: 10px;
          th {
            padding: 0 5px;
          }
          td {
            padding: 0 5px;
          }
          .th-item {
            padding: 0 5px;
          }
          .th-cf {
            width: 200px;
          }
          .th-deposit {
            width: 200px;
          }
          .th-submit {
            width: 80px;
          }
          .lay-item {
            padding: 0 5px;
          }
          .lay-cf {
            display: flex;
            .cf-text {
              width: 110px;
            }
          }
          .lay-deposit {
            position: relative;
            .deposit-text {
              width: 110px;
            }
            .lay-submit2 {
              display: none;
            }
            .lay-submit2.active {
              display: block;
              margin: 5px 0 0 3px;
              position: absolute;
              top: 0px;
              right: 2px;
            }
          }
          .lay-submit {
            display: none;
          }
          .lay-submit.active {
            display: block;
            margin: 5px 0 0 3px;
          }
          
          .ld-icon {
            color: red;
            margin: 3px 0 0 3px;
          }
          
        }
      }
    }
  }
}