.year-main
  .year-main-conts
    .main-conts__box
      .conts-layout
        .conts-layout__name
          収入
        .conts-layout__lists
          .lay-form
    
      .conts-layout
        .conts-layout__name
          支出
        .conts-layout__lists
          .lay-form

    .main-conts__box
      .conts-layout
        .conts-layout__name
          資産
        .conts-layout__lists
          .lay-form

      .conts-layout
        .conts-layout__name
          負債
        .conts-layout__lists
          .lay-form