
= render 'years/header'

.main-conts
  .left-conts
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          収入
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 給料
            %td <input type="number"> 万円
          %tr
            %td 配当
            %td <input type="number"> 万円
          %tr
            %td 不動産
            %td <input type="number"> 万円
      .left-conts__list__r-side
        .when
          <input type="month"> 
        .edit
          <input type="button" value="新規">
          <input type="button" value="更新">
        .total
          総収入: 万円
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          支出
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          %tr
            %td 税金
            %td <input type="number" class="form"> 万円
          %tr
            %td 住宅ローン
            %td <input type="number" class="form"> 万円
          %tr
            %td 自動車ローン
            %td <input type="number" class="form"> 万円
            
      .left-conts__list__r-side
        
        .total
          総収入: 万円

  = render 'years/right_conts'

= render 'years/sub_conts'