
= render 'years/header'

.main-conts
  .left-conts
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          収入
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
          
      .left-conts__list__r-side
        .edit
        .total
          総収入: 万円
    .left-conts__list
      .left-conts__list__title
        .left-conts__list__title__name
          支出
      .left-conts__list__items
        %table{border:"1",class:"table-items"}
          %tr
            %th{class:"item"} 項目
            %th キャッシュフロー
            
      .left-conts__list__r-side
        .total
          %ul
            %li
              総支出:万円
            %li
              月のCF:万円

  = render 'years/right_conts'

= render 'years/sub_conts'