= render 'share/header'

.year-header
  .year-header__left
    .year-header__left__input
      = form_for([@year], html: {class: "ym_input"}) do |f|
        = f.select :year, [["2015"], ["2016"], ["2017"], ["2018"], ["2019"], ["2020"],["2021"], ["2022"], ["2023"], ["2024"], ["2025"], ["2026"], ["2027"], ["2028"], ["2029"], ["2030"], ["2031"], ["2032"], ["2033"], ["2034"], ["2035"], ["2036"]], {prompt: "年を選択"}, class: "y-num"
        -# = f.number_field :year, placeholder: "年を入力",class: "y-num"
        年
        = f.submit "次へ"